/* Login.Module.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust height based on your design */
}

.login-form {
  width: 300px; /* Adjust width of the form box */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for a subtle effect */
}

.login-title {
  text-align: center;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #007bff; /* Example button color */
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.submit-btn:hover {
  background-color: #0056b3; /* Example button color on hover */
}
